<div class="container" *ngIf="issue">
  <div>
    <ul>
      <div class="left half">
        <ul class="list-group margin-right">
            <li id="id-issue" class="list-group-item center topRow"><b>ID: </b>{{ issue.id }}</li>
            <li class="list-group-item list-group-item-action"><b>Title: </b>{{ issue.title }}</li>
            <li class="list-group-item list-group-item-action"><b>Description: </b>{{ issue.description }}</li>
            <li class="list-group-item list-group-item-action"><b>Assignee: </b>{{ issue.assignee }}

            <li class="list-group-item list-group-item-action"><b>Status: </b>{{ issue.status }}</li>
            <li class="list-group-item list-group-item-action"><b>Type: </b>{{ issue.kind }}</li>
            <li class="list-group-item list-group-item-action"><b>Priority: </b>{{ issue.priority }}</li>
            <li class="list-group-item list-group-item-action"><b>Created: </b>{{ issue.added }}</li>
            <li class="list-group-item list-group-item-action"><b>Updated: </b>{{ issue.updated }}</li>
            <li class="list-group-item list-group-item-action"><b>Votes: </b>{{ issue.votes_count }}</li>
            <li class="list-group-item list-group-item-action"><b>Watchs: </b>{{ issue.watches_count }}</li>
        </ul>
    </div>
    </ul>
  </div>
</div>
