<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" height="50" style="background-color: #333333;">
  <a class="titleNavbar">
    <a class="titleNavbar" href="/issues">
      <img src="/assets/main_icon.png" width="35" height="35" class="d-inline-block align-top">
      <a class="titleNavbarText">ISSUES</a>
    </a>
    <a class="titleNavbar" href="/create">
      <button class="btn btn-primary titleNavbarTextSmall" type="button">Create Issue</button>
    </a>
  </a>

  <a class="navbar-brand" href="/logout">Log out</a>

</nav>
<div class="container">
  <router-outlet></router-outlet>
  <!--<app-messages></app-messages>-->
</div>
