<div class="container">
  <div>
    <ul>
      <div class="left half">
        <ul class="list-group">
              <li class="list-group-item list-group-item-action"><b>Title</b> title</li>
              <li class="list-group-item list-group-item-action"><b>Description </b>description</li>
              <li class="list-group-item list-group-item-action"><b>Assignee</b> -</li>
              <li class="list-group-item list-group-item-action"><b>Status</b> New</li>
              <li class="list-group-item list-group-item-action"><b>Type</b> Bug</li>
              <li class="list-group-item list-group-item-action"><b>Priority</b> Trivial</li>
      </ul>

      <div style="text-align:center;">
        <button class="btn btn-primary marginTop" (click)='createIssue()' type="button">Create</button>
      </div>
    </div>
    </ul>
  </div>
</div>
